@using System.Security.Claims
@using Project_Creation.Models.Entities

@{
	var userRole = User.FindFirstValue(ClaimTypes.Role);
	var accessLevelClaim = User.FindFirstValue("AccessLevel");
	var staffAccessLevel = !string.IsNullOrEmpty(accessLevelClaim) && 
						  Enum.TryParse<StaffAccessLevel>(accessLevelClaim, out var level) ? level : StaffAccessLevel.None;
}

<ul class="navbar-nav">
	@if (User.Identity.IsAuthenticated)
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
		</li>

		@if (userRole == "BusinessOwner" || userRole == "Admin")
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="Pages" asp-action="Dashboard">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="Inventory1" asp-action="Index">Inventory</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="Leads" asp-action="Index">Leads</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="Campaigns" asp-action="Index">Campaigns</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="Staffs" asp-action="Index">Staff</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="Settings" asp-action="Index">Settings</a>
			</li>
		}
		else if (userRole == "Staff")
		{
			@if (staffAccessLevel.HasFlag(StaffAccessLevel.Inventory))
			{
				<li class="nav-item">
					<a class="nav-link text-dark" asp-controller="Inventory1" asp-action="Index">Inventory</a>
				</li>
			}
			@if (staffAccessLevel.HasFlag(StaffAccessLevel.Leads))
			{
				<li class="nav-item">
					<a class="nav-link text-dark" asp-controller="Leads" asp-action="Index">Leads</a>
				</li>
			}
			@if (staffAccessLevel.HasFlag(StaffAccessLevel.PublishedProducts))
			{
				<li class="nav-item">
					<a class="nav-link text-dark" asp-controller="Products" asp-action="Index">Products</a>
				</li>
			}
			@if (staffAccessLevel.HasFlag(StaffAccessLevel.QuickSales))
			{
				<li class="nav-item">
					<a class="nav-link text-dark" asp-controller="Inventory1" asp-action="QuickSale">Quick Sales</a>
				</li>
			}
		}

		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Calendar" asp-action="Index">Calendar</a>
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				@User.Identity.Name
			</a>
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">Profile</a></li>
				<li><hr class="dropdown-divider"></li>
				<li>
					<form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
						<button type="submit" class="dropdown-item">Logout</button>
					</form>
				</li>
			</ul>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
		</li>
	}
</ul>